.card {
    background: #5e5858;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px;
    border: 5px solid #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: aliceblue;

    position: relative; /* necessário para posicionar o botão */
}

.excluir {
    border: 2px solid #000;
    background: rgb(179, 0, 0);
    font-weight: bold;
    border-radius: 30px;
    padding: 5px 10px;

    position: absolute;  /* fixa o botão dentro do card */
    top: 10px;           /* distância do topo */
    right: 10px;         /* distância da direita */
}

.conteudo {
    margin-top: 15px; /* evita que o texto fique grudado no botão */
}

#addCard {
    padding: 5px 2px;     /* aumenta área clicável */
    font-size: 15px;        /* aumenta o texto */
    border-radius: 12px;    /* deixa mais arredondado */
    font-weight: bold;      /* deixa mais forte */
    cursor: pointer;
}