.menu-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

#toggleBtn {
  padding: 10px 20px;
  cursor: pointer;
}

.painel {
  margin-top: 10px;
  width: 250px;
  background: #e7dac8;
  border: 1px solid #8f8e8e;
  padding: 15px;
  display: none; /* começa fechado */

  height: calc(100vh - 60px); /* ocupa a tela toda abaixo do botão */
  overflow-y: auto;
}

/* Material de Estudo */